<div *ngFor="let item of planning">
  {{item.id_availability}}
  {{item.hour_start}}
  {{item.hour_end}}
  {{item.is_free}}
</div>
<!-- id: {{reservation.id}}
room id : {{reservation.room.id}}
disponible: {{reservation.room.available}}
date début: {{reservation.hour_start | date:'short'}}
date fin :{{reservation.hour_end | date:'short'}}
Durée : {{reservation.total_duration}}

<div *ngIf="isCardOpen">
  <mat-card>
    <mat-card-header>
        effectuer une reservation
    </mat-card-header>
    <mat-card-content>
        contenue
    </mat-card-content>
    <mat-card-footer>
        bouton de reservation
    </mat-card-footer>
  </mat-card>
</div> -->
